@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: "Roboto",sans-serif;
}

.main{
    width:100vw;
    height:100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
}
.image img{
    width:100px;
}
.profileContainer{
    display: flex;
    flex-direction: column;
}
.profile1,.icons,.profile2,.icon1,.icon2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

input{
    margin-right:40rem;
}
h1{
    text-align: center;
    color:white;
}

.heading{
    width:80%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    padding:1rem;
}
#moon{
    color:white;
}
#moon,#sun{
    font-size: 2rem;
}
#sun{
    display: none;
}


/* search bar */
.header{
    background-color: bisque;
    border-radius: 1rem;
    width:80%;
}
#searchbar{
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: center
    ;
    justify-content: space-between;
    padding:1rem;
}
#searchbar input{
    border: none;
    background-color: transparent;
    margin-left : 1rem;
    width:50%;
    font-size: 1.2rem;
}
input:focus{
    outline: none;
}
::placeholder{
    font-size: 1rem;
    color: grey;
    font-weight: 400;
}

.searchButton{
    width:400px;
    padding:10px;
    border:none;
    color:white;
    background-color: black;
    font-weight: 500;
}
.searchButton:hover{
    color:black;
    background-color: transparent;
    border: 2px solid black;

}
.fa-github{
    margin-right:1rem;
    color:white;
}
.fa-magnifying-glass{
    font-size: 1.2rem;
}
/*  usernameDetails style*/
.usernameDetails{
    width:80%;
}
.lodder{
    margin-top: 2rem;
    background-color: rgb(247, 161, 161);
    width:100%;
    border-radius:1.3rem;
    font-size: 1.2rem;
    padding:40px;
    color:black;
    font-weight: 500;
}
.profileContainer{
    width:100%;
    background-color: rgb(247, 161, 161);
    margin-top: 2rem;
    padding:2rem;
    font-weight: 500;
    border-radius: 1.2rem;
}
.profileContainer{
    display: none;
}

/* profile1 style */
.image img{
    border-radius: 50%;
    margin-right: 2rem;
}
.image{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    font-weight: 400;
}
.name1{
    font-size: 1.3rem;
    font-weight:600;
}
.bio{
    font-weight: 500;
    margin-bottom: 2rem;
}

/* profile 2 style */
.profile2{
    background-color: lightgrey;
    padding:10px;
    margin-bottom: 2rem;
}

/* icons social media */
.icon1,.icon2{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.icon1 i,.icon2 i{
    margin-right: 2rem;
}

/* error when github account is not present */
.error{
    color:white;
    margin-top: 2rem;
    width:100%;
    background-color: white;
    border-radius: 1rem;
    padding:2rem;
    font-weight: 600;
    color:red;
    display:none;
}